<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Typograf</string>
    <key>CFBundleDisplayName</key>
    <string>Типограф</string>
    <key>CFBundleIdentifier</key>
    <string>com.typograf.mac</string>
    <key>CFBundleExecutable</key>
    <string>Typograf</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHumanReadableCopyright</key>
    <string>Правила типографики: typograf © Denis Seleznev, MIT License</string>
    <key>SUFeedURL</key>
    <string>https://github.com/deniskozeev/typograf/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>YypmpA42nuwIEpIOyGeXCwIs32YH3keSaR5QT9Fp8+g=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
</dict>
</plist>
